<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Welcome to Admin Dashboard <small> Good to see you <%= current_admin.name %></small></h1>
    </div>
  </div>

<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <a href="#" class="list-group-item disabled bg-primary text-center">
        Select any table to manage
      </a>
      <a href="<%= airline_index_path%>" class="list-group-item">Airline</a>
      <a href="<%= aircraft_index_path%>" class="list-group-item">Aircraft</a>
      <a href="<%= alliance_index_path%>" class="list-group-item">Alliance</a>
      <a href="<%= mile_index_path%>" class="list-group-item">Mile</a>
      <a href="<%= route_index_path%>" class="list-group-item">Route</a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="list-group">
      <a href="#" class="list-group-item disabled bg-primary text-center">
        Manage other Admins
      </a>
      <a href="<%= admin_create_path%>" class="list-group-item">Add a new Admin</a>
      <a href="<%= admin_all_path%>" class="list-group-item">View all admins</a>
    </div>
  </div>


</div>

</div>