
<div class="container">
  <div class="row">


    <div class="col-md-6 col-md-offset-3">

      <%=form_for @route, url: route_update_path, html: {method: "post"} do |f| %>
          <div class="form-group">
            <label for="exampleInputEmail1">Airline</label>
            <%= f.text_field :airline, class:'form-control' %>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Start</label>
            <%= f.text_field :start, class:'form-control' %>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">End</label>
            <%= f.text_field :end, class:'form-control' %>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Aircraft</label>
            <%= f.text_field :aircraft, class:'form-control' %>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Origin</label>
            <%= f.text_field :origin, class:'form-control' %>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Destination</label>
            <%= f.text_field :destination, class:'form-control' %>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Zone</label>
            <%= f.text_field :zone,class:'form-control' %>
          </div>

          <%= hidden_field_tag :index, params[:index]%>

          <div class="pull-right">
            <%= link_to 'Back', :route_index, class:'btn btn-warning' %>
            <%= f.submit :Submit, class: 'btn btn-success' %>
          </div>
          </div>


      <% end %>




      </div>












  <!-->

</div>
</div>